hpa:
  enabled: false
  minReplicas: 1
  maxReplicas: 4
  targetCPUUtilizationPercentage: 90
service:
  externalPort: 5000
  internalPort: 5000
livenessProbe:
  enabled: true
  path: "/"
  initialDelaySeconds: 15
  timeoutSeconds: 15
  scheme: "HTTP"
  probeType: "httpGet"
  httpHeaders: []
readinessProbe:
  enabled: true
  path: "/"
  initialDelaySeconds: 15
  timeoutSeconds: 10
  scheme: "HTTP"
  probeType: "httpGet"
  httpHeaders: []
startupProbe:
  enabled: true
  path: "/"
  initialDelaySeconds: 15
  timeoutSeconds: 10
  failureThreshold: 30
  periodSeconds: 10
  scheme: "HTTP"
  probeType: "httpGet"
  httpHeaders: []
resources:
  limits:
    cpu: 3
    memory: 8G
  requests:
    cpu: 0.5
    memory: 4G
tolerations:
  - key: cloud.google.com/gke-spot
    operator: Equal
    value: "true"
    effect: NoSchedule
topologySpreadConstraints:
  - maxSkew: 1
    topologyKey: zone
    whenUnsatisfiable: ScheduleAnyway
    labelSelector:
      matchLabels:
        app: production
    matchLabelKeys:
      - pod-template-hash
  - maxSkew: 1
    topologyKey: node
    whenUnsatisfiable: ScheduleAnyway
    labelSelector:
      matchLabels:
        app: production
    matchLabelKeys:
      - pod-template-hash
ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "128m"
persistence:
  enabled: true
  volumes:
    - name: matomo-data
      mount:
        path: "/data"
      claim:
        accessMode: ReadWriteOnce
        size: 8Gi

