hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 4
  targetCPUUtilizationPercentage: 90
service:
  externalPort: 5000
  internalPort: 5000
livenessProbe:
  path: "/"
  initialDelaySeconds: 60
  timeoutSeconds: 15
  scheme: "HTTP"
  probeType: "httpGet"
readinessProbe:
  path: "/"
  initialDelaySeconds: 30
  timeoutSeconds: 5
  scheme: "HTTP"
  probeType: "httpGet"
resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 500m
    memory: 1Gi
ingress:
  enabled: true
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "16m"
persistence:
  enabled: true
  volumes:
    - name: matomo-data
      mount:
        path: "/data"
      claim:
        accessMode: ReadWriteOnce
        size: 8Gi

